node_modules
dist
*.log
.DS_Store
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.history
.pnpm-store
*credentials*
.env*

# Dependency Cruiser
dependency*

# Tests
coverage

# Cache
docs/.vitepress/cache
